extends layout

block content
  script(type='text/javascript' src='/javascripts/copy.js')
  h1 ьзды░й
  ul.list-unstyled
    each meme in memes
      li
        div.panel.panel-default
          div.panel-heading #{meme.user.username} @ #{meme.created_at}
          div.panel-body(id="attachment-#{meme.attachment_id}")
              img(src=meme.attachment.filepath alt=hostname+'/'+meme.attachment.filepath style="min-width: 512px; max-width: 512px;" onclick='copy('+meme.attachment_id+')')
          div.panel-footer= meme.description

