extends layout

block meta_head
    meta(property="og:title" content="짤방")
    meta(property="og:url" content=url_base+'/memes/'+meme.id)
    meta(property="og:image" content=url_base+meme.attachment.filepath)

block content
    script(type='text/javascript' src='/javascripts/copy.js')
    h1 짤방
    div.panel.panel-default
        div.panel-heading #{meme.user.username} @ #{meme.created_at}
        div.panel-body(id="meme-#{meme.id}")
            img(src=meme.attachment.filepath style="min-width: 512px; max-width: 512px;" onclick='copy('+meme.id+')' ondragleave='dragged('+meme.id+')')
        div.panel-footer= meme.description
